@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Solway:wght@400;700;800&display=swap');

#tickets {
     --primary: #a36700;
     --primaryLight: #415b44;
     --secondary: #a36700;
     --secondaryLight: #e5dece;
     --headerColor: #5d4843;
     --bodyTextColorWhite: #fafbfc;
     /* 13px - 16px */
     --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
     /* 31px - 49px */
     --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
     --bodyFontSize: 1rem;
     /* 60px - 100px top and bottom */
     --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

@keyframes scaleFade {
     0% {
          transform: translate(-50%, -50%) scale(0);
     }
     50% {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1.4);
     }
     100% {
          transform: translate(-50%, -50%) scale(1.7);
          opacity: 0;
     }
}

.productList {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 10px;
}
.product {
     display: flex;
     justify-content: flex-start;
     border-radius: 10px 10px 0 0;
     padding: 10px;
     gap: 40px;
     height: 100px;
     background-color: white;
}

.product img {
     width: 75px;
}

.productCard {
     width: 40%;
     display: flex;
     flex-direction: column;
}

.productButton {
     max-width: 100%;
     border-radius: 0 0 10px 10px;
}

#tickets {
     font-family: "Solway", serif;
     padding: var(--sectionPadding);
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

.ticket-container {
     width: 100%;
     max-width: 80rem;
     display: flex;
     flex-direction: column;
     align-items: center;
}

#tickets .ticket-content {
     /* set text align to left if content needs to be left aligned */
     text-align: center;
     width: 100%;
     display: flex;
     flex-direction: column;
     /* centers content horizontally, set to flex-start to left align */
     align-items: center;
}

#tickets .ticket-topper {
     font-size: var(--topperFontSize);
     width: 100%;
     line-height: 1.2em;
     text-transform: uppercase;
     text-align: center;
     letter-spacing: 0.1em;
     font-weight: 700;
     color: var(--primary);
     display: block;
}

.weekend-pass {
     width: 100%;
     text-align: center;
     margin-bottom: 50px;
     color: var(--primary);
     margin-top: -20px;
}

#tickets .sale-date {
     margin-top: -20px;
     color: red;
}

#tickets .shirts-disc {
     margin-top: 20px;
     color: #a36700;
     font-size: larger;
}

#tickets .ticket-title {
     font-size: var(--headerFontSize);
     width: 100%;
     font-weight: 900;
     line-height: 1.2em;
     text-align: center;
     /* max width of 24 characters including spaces */
     color: var(--headerColor);
     position: relative;
     margin-top: 10px;
}

#tickets p {
     font-size: var(--bodyFontSize);
     line-height: 1.5em;
     width: 100%;
     text-align: center;
     width: 100%;
     max-width: 40.625rem;
     margin: 0;
     color: var(--headerColor);
     font-weight: 700;
}

@media (min-width: 1500px) {
     .ticket-container {
          width: 40%;
     }

     .rsvp-text {
          margin-bottom: -40px;
     }
}