@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Solway:wght@400;700;800&display=swap');

.headerImg img {
     width: 100%;
     /* height: auto; */
     aspect-ratio: 8/2;
}

.event-info {
     font-family: 'Solway', serif;
     color: #5D4843;
     font-weight: 800;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 40%;
     gap: 10px;
}

.event-info h1 {
     text-align: center;
     margin-top: 0;
}

#event-location {
     text-align: center;
}

.register-btn {
     font-family: 'Solway', serif;
     background-color: #415B44;
     padding: 20px;
     text-decoration: none;
     color: white;
     border-radius: 20px;
}

.register-btn:hover {
     background-color: #161f17;
}

.hp-body {
     display: flex;
     align-items: flex-start;
     justify-content: space-around;
     flex-wrap: wrap;
     font-family: 'Solway', serif;
     margin-top: 10%;
     row-gap: 50px;
}

.event-desc {
     min-width: 40%;
     max-width: 700px;
     color: #5D4843;
}

.event-desc h1 {
     font-weight: 800;
     width: 40%;
     text-align: center;
     margin: 0 auto;
}

.event-desc p {
     text-align: center;
     font-weight: 600;
     font-size: large;
     margin: 0 auto;
     margin-top: 20px;
}

.headerImg-mobile {
     display: none;
}

@media screen and (max-width: 1166px) {
     .event-info {
          font-size: small;
          width: 100%;
     }
     #event-location {
          width: 100%;
          margin-left: 0px;
          margin-bottom: 50px;
     }
     .register-btn {
          font-size: small;
     }
     .event-desc h1 {
          font-size: x-large;
          width: 300px;
     }
     .event-desc p {
          width: 300px;
          font-weight: 300;
          font-size: large;
     }
     .hp-body {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          min-width: 300px;
          margin-bottom: 30px;
     }
     .event-info-divider {
          width: 65%;
          height: 2px;
          background-color: black;
     }
}

@media screen and (min-width: 768px) {
     .hp-body {
          flex-direction: row;
     }
}