@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Solway:wght@400;700;800&display=swap');

.headerImg img {
     width: 100%;
     aspect-ratio: 8/2;
}

@media only screen and (min-width: 0rem) {
     #hp {
          --primary: #a36700;
          --primaryLight: #415b44;
          --secondary: #a36700;
          --secondaryLight: #e5dece;
          --headerColor: #5d4843;
          --bodyTextColor: #4e4b66;
          --bodyTextColorWhite: #fafbfc;
          --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
          --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
          --bodyFontSize: 1rem;
          --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
     }
     
     #hp {
          font-family: "Solway", serif;
          padding: var(--sectionPadding);
     }

     #hp .hp-container {
          width: 100%;
          max-width: 80rem;
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: clamp(3rem, 6vw, 4rem);
     }

     #hp .hp-title {
          font-size: var(--headerFontSize);
          font-weight: 900;
          line-height: 1.2em;
          text-align: inherit;
          max-width: 24ch;
          margin: 0 0 1rem 0;
          color: var(--headerColor);
          position: relative;
     }

     #hp .hp-content {
          text-align: center;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
     }

     #hp .hp-topper {
          font-size: var(--topperFontSize);
          line-height: 1.2em;
          text-transform: uppercase;
          text-align: inherit;
          letter-spacing: 0.1em;
          font-weight: 700;
          color: var(--primary);
          margin-bottom: 0.25rem;
          display: block;
     }

     .hp-text-container {
          width: 90%;
          max-width: 1000px;
          color: var(--headerColor);
          font-weight: 700;
          text-align: center;
          margin-top: -30px;
     }

     .hp-text-container h3 {
          text-align: center;
          margin-top: 50px;
     }

     .hp-text-container h2:nth-child(2) {
          margin-bottom: 50px;
     }
     
     .tickets-btn {
          background-color: #4c6d50;
          padding: 20px;
          text-decoration: none;
          color: #e5dece;
          border-radius: 20px;
     }
}

.flyer-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 50px;
}

.con-flyer,
.host-ibro-flyer {
     margin-top: 20px;
}

.host-flyer h2 {
     color: var(--headerColor);
     width: 350px;
     margin: 0 auto;
     text-align: center;
     margin-top: 20px;
}

.con-flyer img {
     width: 300px;
}

.ibro-flyer img {
     margin-top: 10px;
     width: 300px;
     margin-left: 25px;
}

.ibro-flyer {
     max-width: 100%;
}