@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Solway:wght@400;700;800&display=swap');

.headerImg img {
     width: 100%;
     height: auto;
}

.event-info {
     font-family: 'Solway', serif;
     color: #5D4843;
     font-weight: 800;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: 100px;
     width: 40%;
}

.event-info h1 {
     text-align: center;
}

#event-location {
     text-align: center;
}

.register-btn {
     font-family: 'Solway', serif;
     background-color: #415B44;
     padding: 20px;
     text-decoration: none;
     color: white;
     border-radius: 20px;
}

.register-btn:hover {
     background-color: #161f17;
}

.hp-body {
     display: flex;
     align-items: flex-start;
     justify-content: space-around;
     font-family: 'Solway', serif;
}

.event-desc {
     width: 40%;
     color: #5D4843;
     margin-top: 60px;
}

.event-desc h1 {
     font-weight: 800;
     width: 40%;
     text-align: center;
     margin: 0 auto;
}

.event-desc p {
     text-align: center;
     font-weight: 600;
     font-size: large;
     margin: 0 auto;
     margin-top: 20px;
}

.headerImg-mobile {
     display: none;
}

@media screen and (max-width: 768px) {
     /* .headerImg {
          display: none;
     }
     .headerImg-mobile {
          display: block;
          width: 100%;
          overflow: hidden;
     } */
     .headerImg img {
          height: 200px;
     }
     .event-info {
          font-size: x-small;
          width: 100%;
     }
     #event-location {
          width: 100%;
          margin-left: 0px;
          margin-bottom: 50px;
     }
     .register-btn {
          font-size: small;
     }
     .event-desc h1 {
          font-size: x-large;
          width: 100%;
     }
     .event-desc p {
          width: 100%;
          font-weight: 300;
     }
     .hp-body {
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
          min-width: 300px;
          margin-bottom: 30px;
     }
}

@media screen and (min-width: 768px) {
     .hp-body {
          flex-direction: row;
     }
}